/* BODY */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER (TOP BAR) */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: black;
    border-bottom: 2px solid #D4AF37;
}

/* LOGO SECTION */
.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-section img {
    width: 40px;
}

.logo-section h1 {
    color: #D4AF37;
    font-size: 22px;
    margin: 0;
    letter-spacing: 2px;
}

/* NAVIGATION */
nav a {
    color: #D4AF37;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

/* HERO SECTION */
.hero {
    background-image: url("../images/fabric6.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    margin: 10px 0;
}

/* BUTTON */
.btn {
    background-color: #D4AF37;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* HERO PRODUCTS (UNDER BUTTON) */
.hero-products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.hero-products .product-card img {
    width: 180px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.hero-products p {
    color: gold;
    font-weight: bold;
}

/* PRODUCTS SECTION */
.products {
    text-align: center;
    padding: 40px;
}

/* PRODUCT CONTAINER (RESPONSIVE) */
.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* PRODUCT CARD */
.product-card {
    text-align: center;
    width: 250px;
}

.product-card img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
